@model PaginatedPostViewModel

@{
    ViewBag.Title = "Blog Website";
    ViewBag.Description = "This is a blog about sharing C# and .Net tips and tricks";
    ViewBag.keywords = "Blog Programming Tips Teaching";
}

<div class="main-img">
    <span class="title">Amazing Blog Site</span>
</div>

<div class="container">
    @foreach (var post in Model.Posts)
    {
        var image = $"/image/{post.Image}";
        <a asp-controller="Home" asp-action="Post" asp-route-id="@post.Id" class="card">
            <img src="@image" alt="@post.Title" class="card-img"/>
            <p class="card-title">@post.Title</p>
        </a>
    }
    @{
        List<int> pages = new List<int>();
        int midPoint = Model.PageNumber;
        if (midPoint < 3)
        {
            midPoint = 3;
        }
        if (midPoint > Model.Pages - 2)
        {
            midPoint = Model.Pages - 2;
        }
        for (int i = midPoint - 1; i <= midPoint + 1; i++)
        {
            pages.Add(i);
        }
        if (pages[0] != 1)
        {
            pages.Insert(0, 1);
            if (pages[1] - pages[0] > 1)
            {
                pages.Insert(1, -1);
            }
        }
        if (pages[^1] != Model.Pages)
        {
            pages.Add(Model.Pages);
            if (pages[^1] - pages[^2] > 1)
            {
                pages.Insert(pages.Count - 1, -1);
            }
        }
    }

    <div class="pages">
        @if (Model.PageNumber > 1)
        {
            <a asp-controller="Home" asp-action="Index" asp-route-pageNum="@(Model.PageNumber - 1)">&lt</a>
        }
        @foreach (int i in pages)
        {
            if (i == -1)
            {
                <span>...</span>
            }
            else
            {
                string activeClass = Model.PageNumber == i ? "active" : "";
                <a class="@activeClass" asp-controller="Home" asp-action="Index" asp-route-pageNum="@i">@i</a>
            }
        }
        @if (Model.HasNextPage)
        {
            <a asp-controller="Home" asp-action="Index" asp-route-pageNum="@(Model.PageNumber + 1)">&gt</a>
        }
    </div>
</div>