@model Post

@{
    var image = $"/image/{Model.Image}";
    ViewBag.Title = Model.Title;
    ViewBag.Description = Model.Description;
    ViewBag.keywords = Model.Tags;
}

<div class="post-container">
    <div class="post-img" style="background-image: url(@image)">
        <span class="title">@Model.Title</span>
    </div>

    <div class="post-body">
        @Html.Raw(@Model.Body)
    </div>
    <div class="comment-section">
        @foreach (var c in Model.Comments)
        {
            <p>
                @c.Message ... @c.CreatedAt
            </p>
        }
        @{
            await Html.RenderPartialAsync("_CommentForm", new CommentViewModel()
            {
                PostId = Model.Id,
                MainCommentId = 0
            });
        }
    </div>
</div>